# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
accounts/
# Wallet or key files
wallet_*.json

# VSCode / IDE configs (optional)
.vscode/
*.code-workspace

# OS-specific
.DS_Store
Thumbs.db
 